<?xml version="1.0" encoding="utf-8"?>
<plug-in>
	<title></title>
	<homepage>http://www.kohsuke.org/freetrain/</homepage>
	
	
	
	
	<!-- 京王通勤車タイプ -->
	<contribution type="trainCar" id="{E5123166-35D8-4f00-B556-9FA6143EA539}">
		<class name="freetrain.contributions.train.SymTrainCarImpl" />
                <sprite origin="0,0">
		     <picture src="KEIO.bmp"/>
                </sprite>
		<capacity>100</capacity>
	</contribution>
	
	<contribution type="train" id="{2B3E6067-B2C3-43c5-BA0E-236DC69533CF}">
		<company>Keio Corporation</company>
		<type>Commuter Type</type>
		<name></name>
		<author>Nanashi-no-Hito</author>
		<description>
京王電鉄の通勤型電車。
		</description>
		<price>980</price>
		<speed>medium</speed>
		<composition>
			<body carRef="{E5123166-35D8-4f00-B556-9FA6143EA539}"/>
		</composition>
	</contribution>
</plug-in>