<?xml version="1.0" encoding="utf-8"?>
<plug-in>
	<title>Forest</title>
	<homepage>http://www.rocket.ne.jp/~nao/</homepage>
	<author>C477</author>
	
	<depend on="org.kohsuke.freetrain.land.farmland" />
	<!--depend on="jp.popkmart.heuer.freetrain.land.seaside" /-->
	
	<!--contribution type="picture" id="{C08FF7F4-B891-4AAD-BD45-74800F62CA80}">
		<picture src="ricefield_SUM.bmp" />
	</contribution-->
	
	<contribution type="picture" id="{FBD0CD06-016A-4037-AB15-02040218CBAA}-G">	
		<picture src="ground_spring.bmp">
			<override when="summer" src="ground_summer.bmp" />
			<override when="autumn" src="ground_autumn.bmp" />
			<override when="winter" src="ground_winter.bmp" />
		</picture>
	</contribution>
	
	<contribution type="land" id="{FBD0CD06-016A-4037-AB15-02040218CBAA}">
		<group>Forest</group>
		<name>Cedar</name>
		<class name="freetrain.world.land.forest.ForestBuilder"
			codebase="bin/Debug/FreeTrain.Forest.dll"/>
		
		<picture src="trees_sugi.bmp">
			<override when="winter" src="trees_sugi.WIN.bmp" />
		</picture>
		<size>288,42</size>
		<count>9</count>		
		<density>3</density>
		<price>100</price>
		<computerCannotBuild/><!-- forest don't come as a result of "development" -->
	</contribution>
	
	
	<contribution type="land" id="{4B732903-B207-4693-9CF7-19AED4E42604}">
		<group>Forest</group>
		<name>Pine</name>
		<class name="freetrain.world.land.forest.ForestBuilder"
			codebase="bin/Debug/FreeTrain.Forest.dll"/>
		
		<picture src="trees_matsu.bmp">
			<override when="winter" src="trees_matsu.WIN.bmp" />
		</picture>
		<size>192,41</size>
		<count>6</count>
		<density>2</density>
		<price>100</price>
		<computerCannotBuild/>
	</contribution>
	
	
	<contribution type="land" id="{CE18E96E-336B-4C8A-80E6-F149DAEFD6E4}">
		<group>Forest</group>
		<name>Camphor</name>
		<class name="freetrain.world.land.forest.ForestBuilder"
			codebase="bin/Debug/FreeTrain.Forest.dll"/>
		
		<picture src="trees_kusu.bmp">
			<override when="winter" src="trees_kusu.WIN.bmp" />
		</picture>
		<size>288,26</size>
		<count>9</count>
		<density>1</density>
		<price>100</price>
		<computerCannotBuild/>
	</contribution>
	
	
	<contribution type="land" id="{88868086-3B45-46B5-A3F1-8D0E735DBD1C}">
		<group>Forest</group>
		<name>Maple</name>
		<class name="freetrain.world.land.forest.ForestBuilder"
			codebase="bin/Debug/FreeTrain.Forest.dll"/>
		
		<picture src="trees_kaede.bmp">
			<override when="autumn" src="trees_kaede.AUT.bmp" />
			<override when="winter" src="trees_kaede.WIN.bmp" />
		</picture>
		<size>192,25</size>
		<count>6</count>
		<density>2</density>
		<price>100</price>
		<computerCannotBuild/>
	</contribution>
	
	<contribution type="land" id="{77961EC1-0406-42C7-A5F5-ADEC3555400E}">
		<group>Forest</group>
		<name>Ginkgo</name>
		<class name="freetrain.world.land.forest.ForestBuilder"
			codebase="bin/Debug/FreeTrain.Forest.dll"/>
		
		<picture src="trees_icho.bmp">
			<override when="autumn" src="trees_icho.AUT.bmp" />
			<override when="winter" src="trees_icho.WIN.bmp" />
		</picture>
		<size>160,43</size>
		<count>5</count>
		<density>2</density>
		<price>100</price>
		<computerCannotBuild/>
	</contribution>
	
	
	<contribution type="land" id="{DF43FB52-E197-451D-B4A3-1114BBFF69D9}">
		<group>Forest</group>
		<name>Beech</name>
		<class name="freetrain.world.land.forest.ForestBuilder"
			codebase="bin/Debug/FreeTrain.Forest.dll"/>
		
		<picture src="trees_buna.bmp">
			<override when="summer" src="trees_buna.SUM.bmp" />
			<override when="autumn" src="trees_buna.AUT.bmp" />
			<override when="winter" src="trees_buna.WIN.bmp" />
		</picture>
		<size>192,40</size>
		<count>6</count>
		<density>3</density>
		<price>100</price>
		<computerCannotBuild/>
	</contribution>

	<contribution type="land" id="{FBD0CD06-016A-4037-AB15-02040218CBAA}-m">
		<group>Forest (mountain)</group>
		<name>Cedar</name>
		<class name="freetrain.world.land.forest.ForestBuilder"
			codebase="bin/Debug/FreeTrain.Forest.dll"/>
		
		<picture src="trees_sugi.bmp">
			<override when="winter" src="trees_sugi.WIN.bmp" />
		</picture>
		<ground>
			<picture ref = "{FBD0CD06-016A-4037-AB15-02040218CBAA}-G" origin="0,0"/>	
		</ground>
		<size>288,42</size>
		<count>9</count>		
		<density>3</density>
		<price>100</price>
		<computerCannotBuild/><!-- forest don't come as a result of "development" -->
	</contribution>
	
	
	<contribution type="land" id="{4B732903-B207-4693-9CF7-19AED4E42604}-m">
		<group>Forest (mountain)</group>
		<name>Pine</name>
		<class name="freetrain.world.land.forest.ForestBuilder"
			codebase="bin/Debug/FreeTrain.Forest.dll"/>
		
		<picture src="trees_matsu.bmp">
			<override when="winter" src="trees_matsu.WIN.bmp" />
		</picture>
		<ground>
			<picture ref = "{FBD0CD06-016A-4037-AB15-02040218CBAA}-G" origin="0,0"/>	
		</ground>
		<size>192,41</size>
		<count>6</count>
		
		<density>2</density>
		<price>100</price>
		<computerCannotBuild/>
	</contribution>
	
	
	<contribution type="land" id="{CE18E96E-336B-4C8A-80E6-F149DAEFD6E4}-m">
		<group>Forest (mountain)</group>
		<name>Camphor</name>
		<class name="freetrain.world.land.forest.ForestBuilder"
			codebase="bin/Debug/FreeTrain.Forest.dll"/>
		
		<picture src="trees_kusu.bmp">
			<override when="winter" src="trees_kusu.WIN.bmp" />
		</picture>
		<ground>
			<picture ref = "{FBD0CD06-016A-4037-AB15-02040218CBAA}-G" origin="0,0"/>	
		</ground>
		<size>288,26</size>
		<count>9</count>
		
		<density>1</density>
		<price>100</price>
		<computerCannotBuild/>
	</contribution>
	
	
	<contribution type="land" id="{88868086-3B45-46B5-A3F1-8D0E735DBD1C}-m">
		<group>Forest (mountain)</group>
		<name>Maple</name>
		<class name="freetrain.world.land.forest.ForestBuilder"
			codebase="bin/Debug/FreeTrain.Forest.dll"/>
		
		<picture src="trees_kaede.bmp">
			<override when="autumn" src="trees_kaede.AUT.bmp" />
			<override when="winter" src="trees_kaede.WIN.bmp" />
		</picture>
		<ground>
			<picture ref = "{FBD0CD06-016A-4037-AB15-02040218CBAA}-G" origin="0,0"/>	
		</ground>
		<size>192,25</size>
		<count>6</count>
		
		<density>2</density>
		<price>100</price>
		<computerCannotBuild/>
	</contribution>
		
	<contribution type="land" id="{77961EC1-0406-42C7-A5F5-ADEC3555400E}-m">
		<group>Forest (mountain)</group>
		<name>Ginkgo</name>
		<class name="freetrain.world.land.forest.ForestBuilder"
			codebase="bin/Debug/FreeTrain.Forest.dll"/>
		
		<picture src="trees_icho.bmp">
			<override when="autumn" src="trees_icho.AUT.bmp" />
			<override when="winter" src="trees_icho.WIN.bmp" />
		</picture>
		<ground>
			<picture ref = "{FBD0CD06-016A-4037-AB15-02040218CBAA}-G" origin="0,0"/>	
		</ground>
		<size>160,43</size>
		<count>5</count>
		
		<density>2</density>
		<price>100</price>
		<computerCannotBuild/>
	</contribution>
	
	
	<contribution type="land" id="{DF43FB52-E197-451D-B4A3-1114BBFF69D9}-m">
		<group>Forest (mountain)</group>
		<name>Beech</name>
		<class name="freetrain.world.land.forest.ForestBuilder"
			codebase="bin/Debug/FreeTrain.Forest.dll"/>
		
		<picture src="trees_buna.bmp">
			<override when="summer" src="trees_buna.SUM.bmp" />
			<override when="autumn" src="trees_buna.AUT.bmp" />
			<override when="winter" src="trees_buna.WIN.bmp" />
		</picture>
		<ground>
			<picture ref = "{FBD0CD06-016A-4037-AB15-02040218CBAA}-G" origin="0,0"/>	
		</ground>
		<size>192,40</size>
		<count>6</count>
		
		<density>3</density>
		<price>100</price>
		<computerCannotBuild/>
	</contribution>

	<contribution type="land" id="{FBD0CD06-016A-4037-AB15-02040218CBAA}-g">
		<group>Forest (grassland)</group>
		<name>Cedar</name>
		<class name="freetrain.world.land.forest.ForestBuilder"
			codebase="bin/Debug/FreeTrain.Forest.dll"/>
		
		<picture src="trees_sugi.bmp">
			<override when="winter" src="trees_sugi.WIN.bmp" />
		</picture>
		<ground>
			<picture ref = "{1AA12290-AC57-4388-AC62-323B813D0CAC}" origin="64,0"/>	
		</ground>
		<size>288,42</size>
		<count>9</count>		
		<density>3</density>
		<price>100</price>
		<computerCannotBuild/><!-- forest don't come as a result of "development" -->
	</contribution>
	
	
	<contribution type="land" id="{4B732903-B207-4693-9CF7-19AED4E42604}-g">
		<group>Forest (grassland)</group>
		<name>Pine</name>
		<class name="freetrain.world.land.forest.ForestBuilder"
			codebase="bin/Debug/FreeTrain.Forest.dll"/>
		
		<picture src="trees_matsu.bmp">
			<override when="winter" src="trees_matsu.WIN.bmp" />
		</picture>
		<ground>
			<picture ref = "{1AA12290-AC57-4388-AC62-323B813D0CAC}" origin="64,0"/>	
		</ground>
		<size>192,41</size>
		<count>6</count>
		
		<density>2</density>
		<price>100</price>
		<computerCannotBuild/>
	</contribution>
	
	
	<contribution type="land" id="{CE18E96E-336B-4C8A-80E6-F149DAEFD6E4}-g">
		<group>Forest (grassland)</group>
		<name>Camphor</name>
		<class name="freetrain.world.land.forest.ForestBuilder"
			codebase="bin/Debug/FreeTrain.Forest.dll"/>
		
		<picture src="trees_kusu.bmp">
			<override when="winter" src="trees_kusu.WIN.bmp" />
		</picture>
		<ground>
			<picture ref = "{1AA12290-AC57-4388-AC62-323B813D0CAC}" origin="64,0"/>	
		</ground>
		<size>288,26</size>
		<count>9</count>
		
		<density>1</density>
		<price>100</price>
		<computerCannotBuild/>
	</contribution>
	
	
	<contribution type="land" id="{88868086-3B45-46B5-A3F1-8D0E735DBD1C}-g">
		<group>Forest (grassland)</group>
		<name>Maple</name>
		<class name="freetrain.world.land.forest.ForestBuilder"
			codebase="bin/Debug/FreeTrain.Forest.dll"/>
		
		<picture src="trees_kaede.bmp">
			<override when="autumn" src="trees_kaede.AUT.bmp" />
			<override when="winter" src="trees_kaede.WIN.bmp" />
		</picture>
		<ground>
			<picture ref = "{1AA12290-AC57-4388-AC62-323B813D0CAC}" origin="64,0"/>	
		</ground>
		<size>192,25</size>
		<count>6</count>
		
		<density>2</density>
		<price>100</price>
		<computerCannotBuild/>
	</contribution>
	
	
	<contribution type="land" id="{77961EC1-0406-42C7-A5F5-ADEC3555400E}-g">
		<group>Forest (grassland)</group>
		<name>Ginkgo</name>
		<class name="freetrain.world.land.forest.ForestBuilder"
			codebase="bin/Debug/FreeTrain.Forest.dll"/>
		
		<picture src="trees_icho.bmp">
			<override when="autumn" src="trees_icho.AUT.bmp" />
			<override when="winter" src="trees_icho.WIN.bmp" />
		</picture>
		<ground>
			<picture ref = "{1AA12290-AC57-4388-AC62-323B813D0CAC}" origin="64,0"/>	
		</ground>
		<size>160,43</size>
		<count>5</count>
		
		<density>2</density>
		<price>100</price>
		<computerCannotBuild/>
	</contribution>
	
	
	<contribution type="land" id="{DF43FB52-E197-451D-B4A3-1114BBFF69D9}-g">
		<group>Forest (grassland)</group>
		<name>Beech</name>
		<class name="freetrain.world.land.forest.ForestBuilder"
			codebase="bin/Debug/FreeTrain.Forest.dll"/>
		
		<picture src="trees_buna.bmp">
			<override when="summer" src="trees_buna.SUM.bmp" />
			<override when="autumn" src="trees_buna.AUT.bmp" />
			<override when="winter" src="trees_buna.WIN.bmp" />
		</picture>
		<ground>
			<picture ref = "{1AA12290-AC57-4388-AC62-323B813D0CAC}" origin="64,0"/>	
		</ground>
		<size>192,40</size>
		<count>6</count>
		
		<density>3</density>
		<price>100</price>
		<computerCannotBuild/>
	</contribution>

	<!--contribution type="land" id="{4B732903-B207-4693-9CF7-19AED4E42604}-s">
		<group>Pine (beach)</group>
		<name>Pine on beach</name>
		<class name="freetrain.world.land.forest.ForestBuilder"
			codebase="bin/Debug/FreeTrain.Forest.dll"/>
		
		<picture src="trees_matsu.bmp">
			<override when="winter" src="trees_matsu.WIN.bmp" />
		</picture>
		<ground>
			<picture ref = "{LAND0001-8058-11D7-BB78-0090FE1AB959}" origin="0,48"/>	
		</ground>
		<size>192,41</size>
		<count>6</count>
		
		<density>2</density>
		<price>100</price>
		<computerCannotBuild/>
	</contribution-->
	
	<!--added on 2004/10/24-->
	<contribution type="picture" id="{CBDD7411-6361-4E04-C477-8B1BA1FF3A9A}-take">	
		<picture src="trees_take.bmp">
			<override when="winter" src="trees_take.WIN.bmp" />
		</picture>
	</contribution>
	<contribution type="land" id="{25656A24-5E4F-46B5-C477-ECC58BDF8F6F}">
		<group>Forest</group>
		<name>Bamboo</name>
		<class name="freetrain.world.land.forest.ForestBuilder"
			codebase="bin/Debug/FreeTrain.Forest.dll"/>		
		<picture ref="{CBDD7411-6361-4E04-C477-8B1BA1FF3A9A}-take"/>
		<size>192,25</size>
		<count>6</count>
		
		<density>10</density>
		<price>100</price>
		<computerCannotBuild/>
	</contribution>
	<contribution type="land" id="{25656A24-5E4F-46B5-C477-ECC58BDF8F6F}-m">
		<group>Forest (mountain)</group>
		<name>Bamboo</name>
		<class name="freetrain.world.land.forest.ForestBuilder"
			codebase="bin/Debug/FreeTrain.Forest.dll"/>		
		<picture ref="{CBDD7411-6361-4E04-C477-8B1BA1FF3A9A}-take"/>
		<ground>
			<picture ref = "{FBD0CD06-016A-4037-AB15-02040218CBAA}-G" origin="0,0"/>	
		</ground>
		<size>192,25</size>
		<count>6</count>
		
		<density>10</density>
		<price>100</price>
		<computerCannotBuild/>
	</contribution>
	<contribution type="land" id="{25656A24-5E4F-46B5-C477-ECC58BDF8F6F}-g">
		<group>Forest (grassland)</group>
		<name>Bamboo</name>
		<class name="freetrain.world.land.forest.ForestBuilder"
			codebase="bin/Debug/FreeTrain.Forest.dll"/>		
		<picture ref="{CBDD7411-6361-4E04-C477-8B1BA1FF3A9A}-take"/>
		<ground>
			<picture ref = "{1AA12290-AC57-4388-AC62-323B813D0CAC}" origin="64,0"/>	
		</ground>
		<size>192,25</size>
		<count>6</count>
		
		<density>10</density>
		<price>100</price>
		<computerCannotBuild/>
	</contribution>
	
</plug-in>
