<?xml version="1.0" encoding="utf-8"?>
<plug-in>
	<title>Family Mart &amp; Yamada Denki</title>
	<author>cozy@E.G.R.</author>
	<homepage>http://www.kohsuke.org/freetrain/</homepage>
	
	<contribution type="picture" id="{AC2929D5-446B-415F-8D9B-53EE2C23B5EA}">
		<picture src="FAMIMA01.bmp"/>
	</contribution>
	
	<contribution type="GenericStructure" id="{487900B6-EBCA-4c98-9E28-194050E9706D}">
		<group>Convenience store</group>
		<design>Family Mart</design>
		<structure>
			<category byname="Convenience Stores"/>
		</structure>
		<price>200</price>
		<size>1,1</size>
		<height>1</height>
		<sprite origin="0,0" offset="10">
			<picture ref="{AC2929D5-446B-415F-8D9B-53EE2C23B5EA}" />
		</sprite>
		<population>
			<class name="freetrain.contributions.population.ShopperPopulation"/>
			<base>35</base>
		</population>
	</contribution>
	
	<contribution type="picture" id="{2035FD8E-552A-49AD-BA04-3F4C9B8CE412}">
		<picture src="YAMADA01.bmp"/>
	</contribution>
	
	<contribution type="GenericStructure" id="{D6DED1EF-FA6F-4734-A4CA-46D217A1EC1F}">
		<group>Electric household appliances store</group>
		<design>Yamada Denki</design>
		<structure>
			<category byname="Urban Outlets"/>
		</structure>
		<price>1600</price>
		<size>2,2</size>
		<height>2</height>
		<sprite origin="0,0" offset="35">
			<picture ref="{2035FD8E-552A-49AD-BA04-3F4C9B8CE412}" />
		</sprite>
		<population>
			<class name="freetrain.contributions.population.ShopperPopulation"/>
			<base>160</base>
		</population>
	</contribution>
	
</plug-in>
