<?xml version="1.0" encoding="utf-8"?>
<plug-in>
	<title>Osaka Castle</title>
	<homepage>http://www.rocket.ne.jp/~nao/</homepage>
	<author>C477</author>

	<contribution type="picture" id="{4F129DD1-CCCF-4C2C-B317-0874AD9F77B7}">
		<picture src="osaka_castle.bmp">
			<override when="night" src="osaka_castle_n.bmp" />
		</picture>
	</contribution>
	
	<contribution type="GenericStructure" id="{12CA8CE9-7D92-44CA-BB96-47C4A60A8316}">
		<group>Osaka Castle</group>
		<design>Castle keep</design>
		<structure>
			<category byname="Castles"/>
		</structure>
		<price>5000</price>
		<size>2,2</size>
		<height>4</height>
		<sprite origin="0,0" offset="64">
			<picture ref="{4F129DD1-CCCF-4C2C-B317-0874AD9F77B7}"/>
		</sprite>
		<sprite origin="64,0" offset="64">
			<picture ref="{4F129DD1-CCCF-4C2C-B317-0874AD9F77B7}"/>
		</sprite>
		<computerCannotBuild/>
	</contribution>
</plug-in>
