<?xml version="1.0" encoding="utf-8"?>
<plug-in>
	<title>Two lane roads</title>
	<author>Hima</author>
	<homepage>http://suzukams.tripod.co.jp/freetrain/</homepage>
	
	<contribution type="road" id="{9B8BE657-6A04-4969-9FF8-0C9A04F12D9F}-A">
		<class name="freetrain.contributions.road.StandardRoadContribution" />
		<name>Two lane road (White)</name>
		<description>Road with White lines</description>
		<picture src="road2w.bmp" size="32,32" offset="16" />
	</contribution>


	<contribution type="road" id="{9B8BE657-6A04-4969-9FF8-0C9A04F12D9F}-B">
		<class name="freetrain.contributions.road.StandardRoadContribution" />
		<name>Two lane road (Orange)</name>
		<description>Road with Orange lines</description>
		<picture src="road2o.bmp" size="32,32" offset="16" />
	</contribution>

	<contribution type="road" id="{9B8BE657-6A04-4969-9FF8-0C9A04F12D9F}-C">
		<class name="freetrain.contributions.road.StandardRoadContribution" />
		<name>Asphalt</name>
		<description>Asphalt</description>
		<picture src="heiyou.bmp" size="32,32" offset="16" />
	</contribution>

	<contribution type="road" id="{0405292136}B4573646">
		<class name="freetrain.contributions.road.StandardRoadContribution" />
		<name>Station Sidewalk (Blue)</name>
		<description>Wide sidewalk with blue pedestrian crossing</description>
		<picture src="walk01B.bmp" size="32,32" offset="16" />
	</contribution>

	<contribution type="road" id="{0405292136}g24734354">
		<class name="freetrain.contributions.road.StandardRoadContribution" />
		<name>Station Sidewalk (Red)</name>
		<description>Wide sidewalk with red pedestrian crossing</description>
		<picture src="walk01R.bmp" size="32,32" offset="16" />
	</contribution>

	<contribution type="road" id="{0405292136}n1673126">
		<class name="freetrain.contributions.road.StandardRoadContribution" />
		<name>Station Sidewalk (Yellow)</name>
		<description>Wide sidewalk with yellow pedestrian crossing</description>
		<picture src="walk01Y.bmp" size="32,32" offset="16" />
	</contribution>
</plug-in>
