<?xml version="1.0" encoding="utf-8"?>
<plug-in>
	<title></title>
	<homepage>http://www.kohsuke.org/freetrain/</homepage>
	
	
	
	
	<!-- 天竜浜名湖鉄道 TH2000 -->
	<contribution type="trainCar" id="{EE4E3BCB-AF44-4C84-90D7-89C81E1D04C2}">
		<class name="freetrain.contributions.train.SymTrainCarImpl" />
		<sprite origin="0,0">
                <picture src="Ten-th2000.bmp" />
                </sprite>
		<capacity>60</capacity>
	</contribution>
	
	<contribution type="train" id="{3FD0FEB7-C73F-409F-844C-526687B5C937}">
		<company>Tenryu Hamanako Railroad</company>
		<type>TH2000</type>
		<name>TH2000</name>
		<author>Tomonori Takeuchi</author>
		<description>
天竜浜名湖鉄道の主力
		</description>
　　　　　　　　<fare>720</fare>
		<price>1440</price>
		<speed>slow</speed>
		<composition>
			<body carRef="{EE4E3BCB-AF44-4C84-90D7-89C81E1D04C2}"/>
		</composition>
	</contribution>

</plug-in>