<?xml version="1.0" encoding="utf-8"?>
<plug-in>
	<title>Raiload facilities (Turn table)</title>
	<author>Hiro Ayase</author>
	<homepage>http://www14.big.or.jp/~ayase/freetrain/</homepage>

	<contribution type="picture" id="{FreeTrain-AYASE-Hiro-RailStructureImg-TurnTable}">
		<picture src="ttable.bmp"/>
	</contribution>

	<contribution type="railStationary" id="{FreeTrain-AYASE-Hiro-RailStructureImpl-TurnTable-1}">
		<group>Turn table</group>
		<price>500</price>
		<size>3,3</size>
		<height>1</height>
		<sprite origin="0,0" offset="32">
			<picture ref="{FreeTrain-AYASE-Hiro-RailStructureImg-TurnTable}"/>
		</sprite>
		<computerCannotBuild/>
	</contribution>
</plug-in>