<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plug-in [
	<!ENTITY StationDepart '
		<price>18000</price>
		<height>2</height>
		<operationCost>500</operationCost>
		<population>
			<class name="freetrain.contributions.population.ShopperPopulation"/>
			<base>200</base>
		</population>
	'>
	<!ENTITY crKhaki '
	<spriteType name="hueTransform">
		<map from="*,0,0" to="202,189,158"/>
	</spriteType>
	'>
	<!ENTITY crSteelBlue '
	<spriteType name="hueTransform">
		<map from="*,0,0" to="181,203,226"/>
	</spriteType>
	'>
	<!ENTITY crBrown '
	<spriteType name="hueTransform">
		<map from="*,0,0" to="157,90,70"/>
	</spriteType>
	'>
	
]>
<plug-in>
	<title>Station department store</title>
	<author>C477</author>
	<homepage>http://www.rocket.ne.jp/~nao/</homepage>
	<!--<depend on="org.kohsuke.freetrain.rail.electricPole"/>-->
		
	<contribution type="picture" id="{84402C43-A870-4E95-C477-D1E8703B5BF5}">
		<picture src="stationMDNDepart.bmp">
			<override when="night" src="stationMDNDepart_n.bmp"/>
		</picture>
	</contribution>

	<!--khaki-->
	
	<contribution type="station" id="{887ABEEE-7E7A-418D-C477-5369442C431B}-a0">
		<group>Station department store (khaki,A)</group>
		&StationDepart;
		<size>2,1</size>
		<sprite origin=" 0, 0" offset="40">
			&crKhaki;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{887ABEEE-7E7A-418D-C477-5369442C431B}-a1">
		<group>Station department store (khaki,A)</group>
		&StationDepart;
		<size>1,2</size>
		<sprite origin="48, 0" offset="32">
			&crKhaki;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{887ABEEE-7E7A-418D-C477-5369442C431B}-a2">
		<group>Station department store (khaki,A)</group>
		&StationDepart;
		<size>2,1</size>
		<sprite origin="96, 0" offset="40">
			&crKhaki;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{887ABEEE-7E7A-418D-C477-5369442C431B}-a3">
		<group>Station department store (khaki,A)</group>
		&StationDepart;
		<size>1,2</size>
		<sprite origin="144, 0" offset="32">
			&crKhaki;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>


	<contribution type="station" id="{887ABEEE-7E7A-418D-C477-5369442C431B}-b0">
		<group>Station department store (khaki,B)</group>
		&StationDepart;
		<size>2,1</size>
		<sprite origin=" 0,56" offset="40">
			&crKhaki;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{887ABEEE-7E7A-418D-C477-5369442C431B}-b1">
		<group>Station department store (khaki,B)</group>
		&StationDepart;
		<size>1,2</size>
		<sprite origin="48,56" offset="32">
			&crKhaki;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{887ABEEE-7E7A-418D-C477-5369442C431B}-b2">
		<group>Station department store (khaki,B)</group>
		&StationDepart;
		<size>2,1</size>
		<sprite origin="96,56" offset="40">
			&crKhaki;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{887ABEEE-7E7A-418D-C477-5369442C431B}-b3">
		<group>Station department store (khaki,B)</group>
		&StationDepart;
		<size>1,2</size>
		<sprite origin="144,56" offset="32">
			&crKhaki;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>


	<!--brown-->

	<contribution type="station" id="{554D8F19-07E9-4A17-C477-21C7BFB76DF6}-a0">
		<group>Station department store (brown,A)</group>
		&StationDepart;
		<size>2,1</size>
		<sprite origin=" 0, 0" offset="40">
			&crBrown;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{554D8F19-07E9-4A17-C477-21C7BFB76DF6}-a1">
		<group>Station department store (brown,A)</group>
		&StationDepart;
		<size>1,2</size>
		<sprite origin="48, 0" offset="32">
			&crBrown;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{554D8F19-07E9-4A17-C477-21C7BFB76DF6}-a2">
		<group>Station department store (brown,A)</group>
		&StationDepart;
		<size>2,1</size>
		<sprite origin="96, 0" offset="40">
			&crBrown;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{554D8F19-07E9-4A17-C477-21C7BFB76DF6}-a3">
		<group>Station department store (brown,A)</group>
		&StationDepart;
		<size>1,2</size>
		<sprite origin="144, 0" offset="32">
			&crBrown;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>


	<contribution type="station" id="{554D8F19-07E9-4A17-C477-21C7BFB76DF6}-b0">
		<group>Station department store (brown,B)</group>
		&StationDepart;
		<size>2,1</size>
		<sprite origin=" 0,56" offset="40">
			&crBrown;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{554D8F19-07E9-4A17-C477-21C7BFB76DF6}-b1">
		<group>Station department store (brown,B)</group>
		&StationDepart;
		<size>1,2</size>
		<sprite origin="48,56" offset="32">
			&crBrown;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{554D8F19-07E9-4A17-C477-21C7BFB76DF6}-b2">
		<group>Station department store (brown,B)</group>
		&StationDepart;
		<size>2,1</size>
		<sprite origin="96,56" offset="40">
			&crBrown;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{554D8F19-07E9-4A17-C477-21C7BFB76DF6}-b3">
		<group>Station department store (brown,B)</group>
		&StationDepart;
		<size>1,2</size>
		<sprite origin="144,56" offset="32">
			&crBrown;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>
	
	<!--steelBlue-->

	<contribution type="station" id="{032981FC-E1C3-4AFC-C477-4A3D92DC6AFA}-a0">
		<group>Station department store (rusty closet,A)</group>
		&StationDepart;
		<size>2,1</size>
		<sprite origin=" 0, 0" offset="40">
			&crSteelBlue;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{032981FC-E1C3-4AFC-C477-4A3D92DC6AFA}-a1">
		<group>Station department store (rusty closet,A)</group>
		&StationDepart;
		<size>1,2</size>
		<sprite origin="48, 0" offset="32">
			&crSteelBlue;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{032981FC-E1C3-4AFC-C477-4A3D92DC6AFA}-a2">
		<group>Station department store (rusty closet,A)</group>
		&StationDepart;
		<size>2,1</size>
		<sprite origin="96, 0" offset="40">
			&crSteelBlue;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{032981FC-E1C3-4AFC-C477-4A3D92DC6AFA}-a3">
		<group>Station department store (rusty closet,A)</group>
		&StationDepart;
		<size>1,2</size>
		<sprite origin="144, 0" offset="32">
			&crSteelBlue;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>


	<contribution type="station" id="{032981FC-E1C3-4AFC-C477-4A3D92DC6AFA}-b0">
		<group>Station department store (rusty closet,B)</group>
		&StationDepart;
		<size>2,1</size>
		<sprite origin=" 0,56" offset="40">
			&crSteelBlue;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{032981FC-E1C3-4AFC-C477-4A3D92DC6AFA}-b1">
		<group>Station department store (rusty closet,B)</group>
		&StationDepart;
		<size>1,2</size>
		<sprite origin="48,56" offset="32">
			&crSteelBlue;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{032981FC-E1C3-4AFC-C477-4A3D92DC6AFA}-b2">
		<group>Station department store (rusty closet,B)</group>
		&StationDepart;
		<size>2,1</size>
		<sprite origin="96,56" offset="40">
			&crSteelBlue;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{032981FC-E1C3-4AFC-C477-4A3D92DC6AFA}-b3">
		<group>Station department store (rusty closet,B)</group>
		&StationDepart;
		<size>1,2</size>
		<sprite origin="144,56" offset="32">
			&crSteelBlue;
			<picture ref="{84402C43-A870-4E95-C477-D1E8703B5BF5}" />
		</sprite>
	</contribution>
	
</plug-in>
