<?xml version="1.0" encoding="UTF-8" ?>
<plug-in>
	<title>Signal Cabin</title>
	<!--!<title>信号所</title>-->
	<author>Hima</author>
	<!--!<author>暇さん</author>-->
	<homepage>http://www.kohsuke.org/freetrain/</homepage>
	
	
	
	<contribution type="picture" id="{54253599-5218-4EE7-828D-563A1D91FE63}">
		<picture src="signal_cabin.bmp"/>
	</contribution>
	
	<contribution type="railStationary" id="{DF1FC459-80D0-4A83-8F6E-63255E7ACA17}">
		<group>Signal cabin</group>
		<!--!<group>信号所</group>-->
		<price>30</price>
		<size>1,1</size>
		<height>1</height>
		<sprite origin="0,0" offset="13">
			<picture ref="{54253599-5218-4EE7-828D-563A1D91FE63}" />
		</sprite>
	</contribution>
	
	<contribution type="railStationary" id="{FCD0126A-4B66-48D4-824A-936EB06FC44B}">
		<group>Signal cabin</group>
		<!--!<group>信号所</group>-->
		<price>10</price>
		<size>1,1</size>
		<height>1</height>
		<sprite origin="32,0" offset="13">
			<picture ref="{54253599-5218-4EE7-828D-563A1D91FE63}" />
		</sprite>
	</contribution>
</plug-in>
