<?xml version="1.0" encoding="utf-8"?>
<plug-in>
	<title></title>
	<homepage>http://www.kohsuke.org/freetrain/</homepage>
	
	
	
	
	<!-- 80系湘南型電車 -->
	<contribution type="trainCar" id="{27D5058D-41B9-47eb-B632-02B8DF3DE1E9}">
		<class name="freetrain.contributions.train.SymTrainCarImpl" />
		<sprite origin="0,0">
		<picture src="80_2.bmp" />
		</sprite>
		<capacity>81</capacity>
	</contribution>
	
	<contribution type="train" id="{8B8C5CB2-F81D-43a5-A287-4528788BF74E}">
		<company>Japanese National Railways</company>
		<type>80 Series</type>
		<name>Shonan Electric Train (2-Windows Type)</name>
		<author>暇</author>
		<description>国鉄が製作した最初の長距離電車。途中から製作された2枚窓のスタイルは私鉄を中心にブームになった。
		</description>
		<price>1000</price>
		<speed>medium</speed>
		<composition>
			<body carRef="{27D5058D-41B9-47eb-B632-02B8DF3DE1E9}"/>
		</composition>
	</contribution>

	<!-- 72/73系電車 -->
	<contribution type="trainCar" id="{82C533CE-FAB1-4bcb-B3D2-415F760ED605}a">
		<class name="freetrain.contributions.train.SymTrainCarImpl" />
		<sprite origin="0,0">
		<picture src="72_73.bmp" />
		</sprite>
		<capacity>130</capacity>
	</contribution>
	
	<contribution type="train" id="{82C533CE-FAB1-4bcb-B3D2-415F760ED605}">
		<company>Japanese National Railways</company>
		<type>72/73 Series</type>
		<name>Geta Train</name>
		<author>Hima</author>
		<description>戦時中に製造された63型を桜木町火災事故をきっかけとして改造され誕生した。戦後の通勤輸送で大きな役割を果たした。
		</description>
		<price>50</price>
		<speed>slow</speed>
		<composition>
			<body carRef="{82C533CE-FAB1-4bcb-B3D2-415F760ED605}a"/>
		</composition>
	</contribution>

	<!-- 72/73系電車オレンジ -->
	<contribution type="trainCar" id="{C8F663B1-0016-43dd-80AB-FBD44E9AEF85}a">
		<class name="freetrain.contributions.train.SymTrainCarImpl" />
		<sprite origin="0,0">
		<picture src="72_73o.bmp" />
		</sprite>
		<capacity>130</capacity>
	</contribution>
	
	<contribution type="train" id="{C8F663B1-0016-43dd-80AB-FBD44E9AEF85}">
		<company>Japanese National Railways</company>
		<type>72/73 Series</type>
		<name>Geta Train (Yodogawa)</name>
		<author>暇</author>
		<description>淀川電車区に配属された73形はオレンジ色に塗られ大阪環状線、桜島線、片町線で活躍した。後に阪和線にも採用され、異色の存在となっていた。
		</description>
		<price>50</price>
		<speed>slow</speed>
		<composition>
			<body carRef="{C8F663B1-0016-43dd-80AB-FBD44E9AEF85}a"/>
		</composition>
	</contribution>
	<!-- 72/73系電車スカ色 -->
	<contribution type="trainCar" id="{67705E9E-4ED1-49b2-92FD-FE45DAC33699}a">
		<class name="freetrain.contributions.train.SymTrainCarImpl" />
		<sprite origin="0,0">
		<picture src="72_73s.bmp" />
		</sprite>
		<capacity>130</capacity>
	</contribution>
	
	<contribution type="train" id="{67705E9E-4ED1-49b2-92FD-FE45DAC33699}">
		<company>Japanese National Railways</company>
		<type>72/73 Series</type>
		<name>Geta Train (Side)</name>
		<author>Hima</author>
		<description>御殿場線の電化完成に伴いスカ色に変更されて投入された。1979年秋、新性能車に置き換えられるまで使用された。
		</description>
		<price>50</price>
		<speed>slow</speed>
		<composition>
			<body carRef="{67705E9E-4ED1-49b2-92FD-FE45DAC33699}a"/>
		</composition>
	</contribution>


	<!-- キハ181系先頭車両 -->
	<contribution type="trainCar" id="{7E51D8D7-2CD4-4593-85C0-42D2FC515438}-h">
		<class name="freetrain.contributions.train.AsymTrainCarImpl" />
		<sprite origin="0,0">
		<picture src="kiha181a.bmp" />
		</sprite>
		<capacity>68</capacity>
	</contribution>
	
	<!-- キハ181系中間車両 -->
	<contribution type="trainCar" id="{7E51D8D7-2CD4-4593-85C0-42D2FC515438}-m">
		<class name="freetrain.contributions.train.SymTrainCarImpl" />
		<sprite origin="0,0">
		<picture src="kiha181b.bmp" />
		</sprite>
		<capacity>68</capacity>
	</contribution>
	
	<!-- キハ181系後尾車両 -->
	<contribution type="trainCar" id="{7E51D8D7-2CD4-4593-85C0-42D2FC515438}-t">
		<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
		<base carRef="{7E51D8D7-2CD4-4593-85C0-42D2FC515438}-h"/>
		<capacity>68</capacity>
	</contribution>
	
	<contribution type="train" id="{7E51D8D7-2CD4-4593-85C0-42D2FC515438}">
		<company>Japanese National Railways</company>
		<type>KIHA 181 Series</type>
		<name></name>
		<author>1500v</author>
		<description>大馬力エンジンを搭載した国鉄の特急型気動車。
中間車の屋根上に載ってる放熱器が目立つ。
		</description>
		<price>100</price>
		<speed>fast</speed>
		<composition>
			<head carRef="{7E51D8D7-2CD4-4593-85C0-42D2FC515438}-h"/>
			<body carRef="{7E51D8D7-2CD4-4593-85C0-42D2FC515438}-m"/>
			<tail carRef="{7E51D8D7-2CD4-4593-85C0-42D2FC515438}-t"/>
		</composition>
	</contribution>


</plug-in>