<?xml version="1.0" encoding="utf-8"?>
<plug-in>
	<title>Parking Garage</title>
	<author>Bankare</author>
	<homepage>http://www.kohsuke.org/freetrain/</homepage>
	
	<contribution type="picture" id="{10146B06-4D3C-40E2-BA95-AE51FA611DA5}">
		<picture src="park.bmp"/>
	</contribution>
	
	<contribution type="GenericStructure" id="{72AF542C-3251-43ad-9094-43E6FDDE9420}">
		<group>Parking garage</group>
		<structure>
			<category byname="Parking Areas"/>
		</structure>
		<price>2400</price>
		<size>2,2</size>
		<minHeight>2</minHeight>
		<maxHeight>10</maxHeight>
		<pictures>
			<top    origin="0, 0" offset="16">
				<picture ref="{10146B06-4D3C-40E2-BA95-AE51FA611DA5}"/>
			</top>
			<middle origin="0,40" offset="10">
				<picture ref="{10146B06-4D3C-40E2-BA95-AE51FA611DA5}"/>
			</middle>
			<bottom origin="0,74" offset="10">
				<picture ref="{10146B06-4D3C-40E2-BA95-AE51FA611DA5}"/>
			</bottom>
		</pictures>
	</contribution>
</plug-in>
