<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plug-in [
<!ENTITY housePopulation3 '
	<population>
		<class name="freetrain.contributions.population.ResidentialPopulation"/>
		<base>3</base>
	</population>
'>
<!ENTITY housePopulation6 '
	<population>
		<class name="freetrain.contributions.population.ResidentialPopulation"/>
		<base>6</base>
	</population>
'>

]>

<plug-in>
	<title>Half-tile houses 2</title>
	<author>C477</author>
	<homepage>http://www.rocket.ne.jp/~nao/</homepage>	
	<depend on="jp.co.tripod.chiname.lib.halfvoxel" />	
	
	<contribution type="picture" id="{4651FD66-5C38-4801-C477-A2DACDE416DF}">
		<picture src="smallhouses2.bmp"/>
	</contribution>

	<contribution type="HalfVoxelStructure" id="{2A8208CD-67C7-46A6-C477-830F25C8F3D2}-0">
		<group>Half-tile structures</group>
		<subgroup>slate-covered roof house</subgroup>
		<name>gabled roof 3 floor A</name>
		<price>55</price>
		<height>1</height>
		&housePopulation3;
		<sprite>
			<picture ref="{4651FD66-5C38-4801-C477-A2DACDE416DF}"/>
			<map from="0,*,0" to="{COLORLIB-PASTEL}"/>
			<pattern direction="west" side="either" origin="0,0"/>
			<pattern direction="south" side="either" origin="24,0"/>
			<pattern direction="east" side="either" origin="48,0"/>
			<pattern direction="north" side="either" origin="72,0"/>
		</sprite>
	</contribution>
	<contribution type="HalfVoxelStructure" id="{2A8208CD-67C7-46A6-C477-830F25C8F3D2}-1">
		<group>Half-tile structures</group>
		<subgroup>slate-covered roof house</subgroup>
		<name>gabled roof 3 floor B</name>
		<price>55</price>
		<height>1</height>
		&housePopulation3;
		<sprite>
			<picture ref="{4651FD66-5C38-4801-C477-A2DACDE416DF}"/>
			<map from="0,*,0" to="{COLORLIB-PASTEL}"/>
			<pattern direction="west" side="either" origin="0,24"/>
			<pattern direction="south" side="either" origin="24,24"/>
			<pattern direction="east" side="either" origin="48,24"/>
			<pattern direction="north" side="either" origin="72,24"/>
		</sprite>
	</contribution>
	<contribution type="HalfVoxelStructure" id="{2A8208CD-67C7-46A6-C477-830F25C8F3D2}-2">
		<group>Half-tile structures</group>
		<subgroup>slate-covered roof house</subgroup>
		<name>gabled roof 3 floor A with carport</name>
		<price>55</price>
		<height>1</height>
		&housePopulation3;
		<sprite>
			<picture ref="{4651FD66-5C38-4801-C477-A2DACDE416DF}"/>
			<map from="0,*,0" to="{COLORLIB-PASTEL}"/>
			<pattern direction="west" side="either" origin="0,48"/>
			<pattern direction="south" side="either" origin="24,48"/>
			<pattern direction="east" side="either" origin="48,48"/>
			<pattern direction="north" side="either" origin="72,48"/>
		</sprite>
	</contribution>
	<contribution type="HalfVoxelStructure" id="{2A8208CD-67C7-46A6-C477-830F25C8F3D2}-3">
		<group>Half-tile structures</group>
		<subgroup>slate-covered roof house</subgroup>
		<name>gabled roof 3 floor B with carport</name>
		<price>55</price>
		<height>1</height>
		&housePopulation3;
		<sprite>
			<picture ref="{4651FD66-5C38-4801-C477-A2DACDE416DF}"/>
			<map from="0,*,0" to="{COLORLIB-PASTEL}"/>
			<pattern direction="west" side="either" origin="0,72"/>
			<pattern direction="south" side="either" origin="24,72"/>
			<pattern direction="east" side="either" origin="48,72"/>
			<pattern direction="north" side="either" origin="72,72"/>
		</sprite>
	</contribution>
	<contribution type="HalfVoxelStructure" id="{2A8208CD-67C7-46A6-C477-830F25C8F3D2}-4">
		<group>Half-tile structures</group>
		<subgroup>slate-covered roof house</subgroup>
		<name>gabled roof 3 floor C with carport</name>
		<price>60</price>
		<height>1</height>
		&housePopulation6;
		<sprite>
			<picture ref="{4651FD66-5C38-4801-C477-A2DACDE416DF}"/>
			<map from="0,*,0" to="{COLORLIB-PASTEL}"/>
			<pattern direction="west" side="either" origin="0,96"/>
			<pattern direction="south" side="either" origin="24,96"/>
			<pattern direction="east" side="either" origin="48,96"/>
			<pattern direction="north" side="either" origin="72,96"/>
		</sprite>
	</contribution>
	<contribution type="HalfVoxelStructure" id="{2A8208CD-67C7-46A6-C477-830F25C8F3D2}-5">
		<group>Half-tile structures</group>
		<subgroup>slate-covered roof house</subgroup>
		<name>hip roof 3 floor </name>
		<price>60</price>
		<height>1</height>
		&housePopulation6;
		<sprite>
			<picture ref="{4651FD66-5C38-4801-C477-A2DACDE416DF}"/>
			<map from="0,*,0" to="{COLORLIB-PASTEL}"/>
			<pattern direction="west" side="either" origin="0,121"/>
			<pattern direction="south" side="either" origin="24,121"/>
			<pattern direction="east" side="either" origin="48,121"/>
			<pattern direction="north" side="either" origin="72,121"/>
		</sprite>
	</contribution>

</plug-in>
