<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plug-in [
<!ENTITY hc01 '
	<spriteType name="colorMapped">
		<map from="19,136,255" to="136,136,136"/>
		<map from="0,90,174" to="90,90,90"/>
		<map from="0,80,154" to="80,80,80"/>
		<map from="0,95,184" to="95,95,95"/>
		<map from="0,64,124" to="64,64,64"/>
		<map from="0,104,200" to="104,104,104"/>
	</spriteType>
'>
<!ENTITY hc02 '
	<spriteType name="colorMapped">
		<map from="19,136,255" to="136,136,255"/>
		<map from="0,90,174" to="90,90,174"/>
		<map from="0,80,154" to="80,80,154"/>
		<map from="0,95,184" to="95,95,184"/>
		<map from="0,64,124" to="64,64,124"/>
		<map from="0,104,200" to="104,104,200"/>
	</spriteType>
'>
<!ENTITY hc03 '
	<spriteType name="colorMapped">
		<map from="19,136,255" to="136,255,136"/>
		<map from="0,90,174" to="90,174,90"/>
		<map from="0,80,154" to="80,154,80"/>
		<map from="0,95,184" to="95,184,95"/>
		<map from="0,64,124" to="64,124,64"/>
		<map from="0,104,200" to="104,200,104"/>
	</spriteType>
'>
<!ENTITY hc04 '
	<spriteType name="colorMapped">
		<map from="19,136,255" to="136,255,19"/>
		<map from="0,90,174" to="90,174,0"/>
		<map from="0,80,154" to="80,154,0"/>
		<map from="0,95,184" to="95,184,0"/>
		<map from="0,64,124" to="64,124,0"/>
		<map from="0,104,200" to="104,200,0"/>
	</spriteType>
'>
<!ENTITY hc05 '
	<spriteType name="colorMapped">
		<map from="19,136,255" to="255,136,136"/>
		<map from="0,90,174" to="174,90,90"/>
		<map from="0,80,154" to="154,80,80"/>
		<map from="0,95,184" to="184,95,95"/>
		<map from="0,64,124" to="124,64,64"/>
		<map from="0,104,200" to="200,104,104"/>
	</spriteType>
'>
<!ENTITY hc06 '
	<spriteType name="colorMapped">
		<map from="19,136,255" to="255,136,19"/>
		<map from="0,90,174" to="174,90,0"/>
		<map from="0,80,154" to="154,80,0"/>
		<map from="0,95,184" to="184,95,0"/>
		<map from="0,64,124" to="124,64,0"/>
		<map from="0,104,200" to="200,104,0"/>
	</spriteType>
'>
<!ENTITY h0101 '
	<name>Wind farm windmill</name>
	<structure>
		<category byname="Wind Farms"/>
	</structure>
	<price>1000</price>
	<size>1,3</size>
	<height>5</height>
	<spriteType  name="colorMapped">
		<map  from="251,85,89"  to="251,85,89"/>
		<map  from="180,55,51"  to="180,55,51"/>
		<map  from="251,49,59"  to="251,49,59"/>
	</spriteType>
	<spriteType  name="colorMapped">
		<map  from="251,85,89"  to="250,250,250"/>
		<map  from="180,55,51"  to="150,150,150"/>
		<map  from="251,49,59"  to="186,186,186"/>
	</spriteType>
	<computerCannotBuild/>
'>
<!ENTITY h0201 '
	<name>Distribution center</name>
	<structure>
		<category byname="Distribution Centers"/>
	</structure>
	<computerCannotBuild/>
'>
<!ENTITY h0301 '
	<name>Oil Tank</name>
	<structure>
		<category byname="Oil Tanks"/>
	</structure>
	<design>big</design>
	<size>3,3</size>
	<height>2</height>
	<computerCannotBuild/>
'>
<!ENTITY h0302 '
	<name>Oil Tank</name>
	<structure>
		<category byname="Oil Tanks"/>
	</structure>
	<design>medium</design>
	<size>3,3</size>
	<height>2</height>
	<computerCannotBuild/>
'>
<!ENTITY h0303 '
	<name>Oil Tank</name>
	<structure>
		<category byname="Oil Tanks"/>
	</structure>
	<design>small</design>
	<size>2,2</size>
	<height>2</height>
	<price>2500</price>
	<population>
		<class name="freetrain.contributions.population.OfficePopulation"/>
		<base>5</base>
	</population>
	<computerCannotBuild/>
'>
<!ENTITY h0304 '
	<name>Gas Tank</name>
	<structure>
		<category byname="Gas Tanks"/>
	</structure>
	<size>2,2</size>
	<height>2</height>
	<price>2000</price>
	<population>
		<class name="freetrain.contributions.population.OfficePopulation"/>
		<base>5</base>
	</population>
	<computerCannotBuild/>
'>
<!ENTITY h0305 '
	<name>Water tank</name>
	<structure>
		<category byname="Water Towers"/>
	</structure>
	<design>big</design>
	<size>2,2</size>
	<height>2</height>
	<price>2000</price>
	<population>
		<class name="freetrain.contributions.population.OfficePopulation"/>
		<base>5</base>
	</population>
	<computerCannotBuild/>
'>
<!ENTITY h0306 '
	<name>Oil Tank</name>
	<structure>
		<category byname="Oil Tanks"/>
	</structure>
	<design>Underground tank</design>
	<size>3,3</size>
	<height>1</height>
	<price>5000</price>
	<population>
		<class name="freetrain.contributions.population.OfficePopulation"/>
		<base>15</base>
	</population>
	<computerCannotBuild/>
'>
<!ENTITY h0307 '
	<name>Filtration plant</name>
	<structure>
		<category byname="Filtration Plants"/>
	</structure>
	<design>Simple filtration plants</design>
	<size>1,2</size>
	<height>1</height>
	<price>2000</price>
	<population>
		<class name="freetrain.contributions.population.OfficePopulation"/>
		<base>5</base>
	</population>
	<computerCannotBuild/>
'>
<!ENTITY h0308 '
	<name>Water tank</name>
	<structure>
		<category byname="Water Towers"/>
	</structure>
	<design>小</design>
	<size>1,1</size>
	<height>1</height>
	<price>1000</price>
	<population>
		<class name="freetrain.contributions.population.OfficePopulation"/>
		<base>3</base>
	</population>
	<computerCannotBuild/>
'>
<!ENTITY h0401 '
	<name>Breakwater</name>
	<structure>
		<category byname="Flood Control Facilities"/>
	</structure>
	<price>100</price>
	<size>1,1</size>
	<height>1</height>
	<computerCannotBuild/>
'>
<!ENTITY h0402 '
	<name>Breakwater (platform)</name>
	<structure>
		<category byname="Flood Control Facilities"/>
	</structure>
	<price>300</price>
	<size>1,1</size>
	<height>1</height>
	<computerCannotBuild/>
'>
<!ENTITY h0403 '
	<name>Barrier to prevent landslides</name>
	<structure>
		<category byname="Flood Control Facilities"/>
	</structure>
	<price>300</price>
	<height>1</height>
	<computerCannotBuild/>
'>
<!ENTITY h0701 '
	<name>Condominiums(3x3)</name>
	<structure>
		<category byname="Condominiums"/>
	</structure>
	<price>6000</price>
	<size>3,3</size>
	<minHeight>3</minHeight>
	<maxHeight>9</maxHeight>
	<population>
		<class name="freetrain.contributions.population.ResidentialPopulation"/>
		<base>700</base>
	</population>
	<computerCannotBuild/>
'>
<!ENTITY h0702 '
	<name>Condominiums(3x2)</name>
	<structure>
		<category byname="Condominiums"/>
	</structure>
	<price>4000</price>
	<size>2,3</size>
	<minHeight>3</minHeight>
	<maxHeight>7</maxHeight>
	<population>
		<class name="freetrain.contributions.population.ResidentialPopulation"/>
		<base>500</base>
	</population>
	<computerCannotBuild/>
'>
<!ENTITY h0801 '
	<name>Thermal Power Plants</name>
	<structure>
		<category byname="Thermal Power Plants"/>
	</structure>
	<price>10000</price>
	<size>5,2</size>
	<height>7</height>
	<population>
		<class name="freetrain.contributions.population.OfficePopulation"/>
		<base>70</base>
	</population>
	<computerCannotBuild/>
'>
<!ENTITY h0802 '
	<name>Thermal Power Plants</name>
	<structure>
		<category byname="Thermal Power Plants"/>
	</structure>
	<price>13000</price>
	<size>5,3</size>
	<height>7</height>
	<population>
		<class name="freetrain.contributions.population.OfficePopulation"/>
		<base>80</base>
	</population>
	<computerCannotBuild/>
'>
<!ENTITY h1001 '
	<name>Bridge pier(2 to 6)</name>
	<structure>
		<category byname="Public Works"/>
	</structure>
	<price>300</price>
	<size>1,1</size>
	<minHeight>2</minHeight>
	<maxHeight>6</maxHeight>
	<computerCannotBuild/>
'>
<!ENTITY h1002 '
	<name>Bridge pier(1)</name>
	<structure>
		<category byname="Public Works"/>
	</structure>
	<price>300</price>
	<size>1,1</size>
	<height>1</height>
	<computerCannotBuild/>
'>
<!ENTITY h1003 '
	<design>Asphalt</design>
	<spriteType  name="colorMapped">
		<map  from="0,114,188"  to="105,105,105"/>
	</spriteType>
'>
<!ENTITY h1101 '
	<name>Driving school</name>
	<structure>
		<category byname="Private Education"/>
	</structure>
	<design>Driving course</design>
	<price>2000</price>
	<size>5,6</size>
	<height>1</height>
	<population>
		<class name="freetrain.contributions.population.OfficePopulation"/>
		<base>20</base>
	</population>
	<computerCannotBuild/>
'>
<!ENTITY h1102 '
	<name>Driving school</name>
	<structure>
		<category byname="Private Education"/>
	</structure>
	<design>School building and garage</design>
	<price>3000</price>
	<height>1</height>
	<population>
		<class name="freetrain.contributions.population.OfficePopulation"/>
		<base>100</base>
	</population>
	<spriteType name="colorMapped">
		<map from="230,240,230" to="230,240,230"/>
		<map from="106,130,106" to="106,130,106"/>
	</spriteType>
	<spriteType name="colorMapped">
		<map from="230,240,230" to="214,186,186"/>
		<map from="106,130,106" to="127,93,93"/>
	</spriteType>
	<spriteType name="colorMapped">
		<map from="230,240,230" to="186,186,214"/>
		<map from="106,130,106" to="93,93,127"/>
	</spriteType>
	<computerCannotBuild/>
'>
<!ENTITY h1201 '
	<name>Country elevator</name>
	<structure>
		<category byname="Agriculture"/>
		<category byname="Warehouses" hide="true"/>
	</structure>
	<design>Huge agricultural cooperative silo</design>
	<price>5000</price>
	<size>4,2</size>
	<height>3</height>
	<population>
		<class name="freetrain.contributions.population.AgriculturalPopulation"/>
		<base>20</base>
	</population>
	&hc01;
	&hc02;
	&hc03;
	&hc04;
	&hc05;
	&hc06;
	<computerCannotBuild/>
'>
]>

<plug-in>
	<title>Buildings for extended UI</title>
	<author>HEUER</author>
	<homepage>http://freetrain.finito-web.com/</homepage>


<!-- Wind Farms -->
	<contribution type="picture" id="{HEUER-0001-WINDMILL-PICTURE-0001}">
		<picture src="windmill_a.bmp">
			<override when="summer" src="windmill_b.bmp" />
			<override when="autumn" src="windmill_c.bmp" />
			<override when="winter" src="windmill_d.bmp" />
		</picture>
	</contribution>	
	<contribution type="picture" id="{HEUER-0001-WINDMILL-PICTURE-0002}">
		<picture src="windmill_a.bmp">
			<override when="autumn" src="windmill_c.bmp" />
			<override when="winter" src="windmill_d.bmp" />
		</picture>
	</contribution>
	<contribution type="picture" id="{HEUER-0001-WINDMILL-PICTURE-0003}">
		<picture src="windmill.bmp">
		</picture>
	</contribution>
	<contribution type="picture" id="{HEUER-0001-WINDMILL-PICTURE-0004}">
		<picture src="windmill.bmp">
			<override when="winter" src="windmill_d.bmp" />
		</picture>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0001-WINDMILL-STRUCTURE-0002}">
		&h0101;
		<design>normal</design>
		<sprite origin="256,0" offset="64">
			<picture ref="{HEUER-0001-WINDMILL-PICTURE-0004}"/>
		</sprite>
		<sprite origin="320,0" offset="80" opposite="true">
			<picture ref="{HEUER-0001-WINDMILL-PICTURE-0004}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0001-WINDMILL-STRUCTURE-0003}">
		&h0101;
		<design>water</design>
		<sprite origin="0,0" offset="64">
			<picture ref="{HEUER-0001-WINDMILL-PICTURE-0003}"/>
		</sprite>
		<sprite origin="64,0" offset="80" opposite="true">
			<picture ref="{HEUER-0001-WINDMILL-PICTURE-0003}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0001-WINDMILL-STRUCTURE-0004}">
		&h0101;
		<design>grassland</design>
		<sprite origin="128,0" offset="64">
			<picture ref="{HEUER-0001-WINDMILL-PICTURE-0002}"/>
		</sprite>
		<sprite origin="192,0" offset="80" opposite="true">
			<picture ref="{HEUER-0001-WINDMILL-PICTURE-0002}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0001-WINDMILL-STRUCTURE-0001}">
		&h0101;
		<design>mountain</design>
		<sprite origin="0,0" offset="64">
			<picture ref="{HEUER-0001-WINDMILL-PICTURE-0001}"/>
		</sprite>
		<sprite origin="64,0" offset="80" opposite="true">
			<picture ref="{HEUER-0001-WINDMILL-PICTURE-0001}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0001-WINDMILL-STRUCTURE-0005}">
		&h0101;
		<design>asphalt</design>
		<sprite origin="128,0" offset="64">
			<picture ref="{HEUER-0001-WINDMILL-PICTURE-0003}"/>
		</sprite>
		<sprite origin="192,0" offset="80" opposite="true">
			<picture ref="{HEUER-0001-WINDMILL-PICTURE-0003}"/>
		</sprite>
	</contribution>


<!-- Distribution Centers -->
	<contribution type="picture" id="{HEUER-0002-BUTURYU-PICTURE-0001}">
		<picture src="buturyu.bmp">
			<override when="night" src="buturyu_n.bmp" />
		</picture>
	</contribution>	
	<contribution type="GenericStructure" id="{HEUER-0002-BUTURYU-STRUCTURE-0001}">
		&h0201;
		<price>6000</price>
		<size>4,3</size>
		<height>2</height>
		<population>
			<class name="freetrain.contributions.population.ShopperPopulation"/>
			<base>70</base>
		</population>
		<sprite origin="0,0" offset="57">
			<picture ref="{HEUER-0002-BUTURYU-PICTURE-0001}"/>
		</sprite>
		<sprite origin="112,0" offset="49" opposite="true">
			<picture ref="{HEUER-0002-BUTURYU-PICTURE-0001}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0002-BUTURYU-STRUCTURE-0002}">
		&h0201;
		<price>5000</price>
		<size>4,3</size>
		<height>2</height>
		<population>
			<class name="freetrain.contributions.population.ShopperPopulation"/>
			<base>60</base>
		</population>
		<sprite origin="224,0" offset="57">
			<picture ref="{HEUER-0002-BUTURYU-PICTURE-0001}"/>
		</sprite>
		<sprite origin="336,0" offset="49" opposite="true">
			<picture ref="{HEUER-0002-BUTURYU-PICTURE-0001}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0002-BUTURYU-STRUCTURE-0003}">
		&h0201;
		<price>8000</price>
		<size>4,4</size>
		<height>2</height>
		<population>
			<class name="freetrain.contributions.population.ShopperPopulation"/>
			<base>400</base>
		</population>
		<sprite origin="448,0" offset="49">
			<picture ref="{HEUER-0002-BUTURYU-PICTURE-0001}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0002-BUTURYU-STRUCTURE-0004}">
		&h0201;
		<price>7000</price>
		<size>3,4</size>
		<height>2</height>
		<population>
			<class name="freetrain.contributions.population.ShopperPopulation"/>
			<base>300</base>
		</population>
		<sprite origin="576,0" offset="49">
			<picture ref="{HEUER-0002-BUTURYU-PICTURE-0001}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0002-BUTURYU-STRUCTURE-0005}">
		&h0201;
		<price>6000</price>
		<size>3,4</size>
		<height>3</height>
		<population>
			<class name="freetrain.contributions.population.ShopperPopulation"/>
			<base>350</base>
		</population>
		<sprite origin="688,0" offset="49">
			<picture ref="{HEUER-0002-BUTURYU-PICTURE-0001}"/>
		</sprite>
	</contribution>


<!-- Oil Tank -->
	<contribution type="picture" id="{HEUER-0003-OILTANK-PICTURE-0001}">
		<picture src="oiltank.bmp">
		</picture>
	</contribution>
	<contribution type="picture" id="{HEUER-0003-OILTANK-PICTURE-0002}">
		<picture src="oiltank2.bmp">
		</picture>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0003-OILTANK-STRUCTURE-0001}">
		&h0301;
		<price>5000</price>
		<sprite origin="0,0" offset="36">
			<picture ref="{HEUER-0003-OILTANK-PICTURE-0001}"/>
		</sprite>
		<population>
			<class name="freetrain.contributions.population.OfficePopulation"/>
			<base>15</base>
		</population>
	</contribution>	
	<contribution type="GenericStructure" id="{HEUER-0003-OILTANK-STRUCTURE-0002}">
		&h0301;
		<price>4500</price>
		<sprite origin="96,0" offset="36">
			<picture ref="{HEUER-0003-OILTANK-PICTURE-0001}"/>
		</sprite>
		<population>
			<class name="freetrain.contributions.population.OfficePopulation"/>
			<base>10</base>
		</population>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0003-OILTANK-STRUCTURE-0003}">
		&h0301;
		<price>3500</price>
		<sprite origin="192,0" offset="36">
			<picture ref="{HEUER-0003-OILTANK-PICTURE-0001}"/>
		</sprite>
		<population>
			<class name="freetrain.contributions.population.OfficePopulation"/>
			<base>5</base>
		</population>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0003-OILTANK-STRUCTURE-0004}">
		&h0302;
		<price>4000</price>
		<sprite origin="416,0" offset="36">
			<picture ref="{HEUER-0003-OILTANK-PICTURE-0001}"/>
		</sprite>
		<population>
			<class name="freetrain.contributions.population.OfficePopulation"/>
			<base>10</base>
		</population>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0003-OILTANK-STRUCTURE-0005}">
		&h0302;
		<price>3500</price>
		<sprite origin="512,0" offset="36">
			<picture ref="{HEUER-0003-OILTANK-PICTURE-0001}"/>
		</sprite>
		<population>
			<class name="freetrain.contributions.population.OfficePopulation"/>
			<base>7</base>
		</population>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0003-OILTANK-STRUCTURE-0006}">
		&h0303;
		<sprite origin="288,0" offset="36">
			<picture ref="{HEUER-0003-OILTANK-PICTURE-0001}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0003-OILTANK-STRUCTURE-0007}">
		&h0303;
		<sprite origin="352,0" offset="36">
			<picture ref="{HEUER-0003-OILTANK-PICTURE-0001}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0003-OILTANK-STRUCTURE-0008}">
		&h0306;
		<sprite origin="0,0" offset="16">
			<picture ref="{HEUER-0003-OILTANK-PICTURE-0002}"/>
		</sprite>
		<sprite origin="96,0" offset="16" opposite="true">
			<picture ref="{HEUER-0003-OILTANK-PICTURE-0002}"/>
		</sprite>
	</contribution>


<!-- Gas Tanks -->
	<contribution type="picture" id="{HEUER-0003-GASTANK-PICTURE-0001}">
		<picture src="gastank.bmp">
		</picture>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0003-GASTANK-STRUCTURE-0001}">
		&h0304;
		<sprite origin="128,0" offset="35">
			<picture ref="{HEUER-0003-GASTANK-PICTURE-0001}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0003-GASTANK-STRUCTURE-0002}">
		&h0304;
		<sprite origin="64,0" offset="35">
			<picture ref="{HEUER-0003-GASTANK-PICTURE-0001}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0003-GASTANK-STRUCTURE-0003}">
		&h0304;
		<sprite origin="0,0" offset="35">
			<picture ref="{HEUER-0003-GASTANK-PICTURE-0001}"/>
		</sprite>
	</contribution>


<!-- Water Towers -->
	<contribution type="picture" id="{HEUER-0003-WATERTANK-PICTURE-0001}">
		<picture src="watertank.bmp">
		</picture>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0003-WATERTANK-STRUCTURE-0001}">
		&h0305;
		<sprite origin="64,0" offset="24">
			<picture ref="{HEUER-0003-WATERTANK-PICTURE-0001}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0003-WATERTANK-STRUCTURE-0002}">
		&h0305;
		<sprite origin="0,0" offset="24">
			<picture ref="{HEUER-0003-WATERTANK-PICTURE-0001}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0003-WATERTANK-STRUCTURE-0003}">
		&h0308;
		<sprite origin="128,0" offset="24">
			<picture ref="{HEUER-0003-WATERTANK-PICTURE-0001}"/>
		</sprite>
	</contribution>


<!-- Filtration Plants -->
	<contribution type="picture" id="{HEUER-0003-WPP-PICTURE-0001}">
		<picture src="wpp.bmp">
		</picture>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0003-WPP-STRUCTURE-0001}">
		&h0307;
		<sprite origin="0,0" offset="4">
			<picture ref="{HEUER-0003-WPP-PICTURE-0001}"/>
		</sprite>
		<sprite origin="48,0" offset="12" opposite="true">
			<picture ref="{HEUER-0003-WPP-PICTURE-0001}"/>
		</sprite>
		<sprite origin="96,0" offset="4">
			<picture ref="{HEUER-0003-WPP-PICTURE-0001}"/>
		</sprite>
		<sprite origin="144,0" offset="12" opposite="true">
			<picture ref="{HEUER-0003-WPP-PICTURE-0001}"/>
		</sprite>
	</contribution>


<!-- Flood Control Facilities -->
	<contribution type="picture" id="{HEUER-0004-BREAKWATER-PICTURE-0001}">
		<picture src="breakwater.bmp">
		</picture>
	</contribution>
	<contribution type="picture" id="{HEUER-0004-BREAKWATER-PICTURE-0002}">
		<picture src="breakwater2.bmp">
		</picture>
	</contribution>
	<contribution type="picture" id="{HEUER-0004-DAM-PICTURE-0001}">
		<picture src="dam.bmp">
		</picture>
	</contribution>
	<contribution type="picture" id="{HEUER-0004-DAM-PICTURE-0002}">
		<picture src="dam2.bmp">
		</picture>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0004-BREAKWATER-STRUCTURE-0001}">
		&h0401;
		<sprite origin="0, 7" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0001}"/>
		</sprite>
		<sprite origin="32, 7" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0001}"/>
		</sprite>
		<sprite origin="64, 7" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0001}"/>
		</sprite>
		<sprite origin="96, 7" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0001}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0004-BREAKWATER-STRUCTURE-0002}">
		&h0401;
		<sprite origin="0,40" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0001}"/>
		</sprite>
		<sprite origin="96,40" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0001}"/>
		</sprite>
		<sprite origin="32,40" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0001}"/>
		</sprite>
		<sprite origin="64,40" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0001}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0004-BREAKWATER-STRUCTURE-0003}">
		&h0401;
		<sprite origin="0,73" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0001}"/>
		</sprite>
		<sprite origin="96,73" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0001}"/>
		</sprite>
		<sprite origin="32,73" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0001}"/>
		</sprite>
		<sprite origin="64,73" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0001}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0004-BREAKWATER-STRUCTURE-0004}">
		&h0402;
		<sprite origin="32,16" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0002}"/>
		</sprite>
		<sprite origin="0,48" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0002}"/>
		</sprite>
		<sprite origin="96,48" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0002}"/>
		</sprite>
		<sprite origin="64,80" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0002}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0004-BREAKWATER-STRUCTURE-0005}">
		&h0402;
		<sprite origin="0,16" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0002}"/>
		</sprite>
		<sprite origin="96,16" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0002}"/>
		</sprite>
		<sprite origin="0,80" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0002}"/>
		</sprite>
		<sprite origin="96,80" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0002}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0004-BREAKWATER-STRUCTURE-0006}">
		&h0402;
		<sprite origin="64,16" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0002}"/>
		</sprite>
		<sprite origin="32,48" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0002}"/>
		</sprite>
		<sprite origin="64,48" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0002}"/>
		</sprite>
		<sprite origin="32,80" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0002}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0004-BREAKWATER-STRUCTURE-0007}">
		&h0402;
		<sprite origin="0,144" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0002}"/>
		</sprite>
		<sprite origin="0,112" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0002}"/>
		</sprite>
		<sprite origin="32,144" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0002}"/>
		</sprite>
		<sprite origin="96,112" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0002}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0004-BREAKWATER-STRUCTURE-0008}">
		&h0402;
		<sprite origin="64,144" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0002}"/>
		</sprite>
		<sprite origin="64,112" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0002}"/>
		</sprite>
		<sprite origin="96,144" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0002}"/>
		</sprite>
		<sprite origin="32,112" offset="0">
			<picture ref="{HEUER-0004-BREAKWATER-PICTURE-0002}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0004-DAM-STRUCTURE-0001}">
		&h0403;
		<size>1,2</size>
		<sprite origin="0,0" offset="16">
			<picture ref="{HEUER-0004-DAM-PICTURE-0001}"/>
		</sprite>
		<sprite origin="48,0" offset="24" opposite="true">
			<picture ref="{HEUER-0004-DAM-PICTURE-0001}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0004-DAM-STRUCTURE-0002}">
		&h0403;
		<size>4,1</size>
		<sprite origin="0,0" offset="40">
			<picture ref="{HEUER-0004-DAM-PICTURE-0002}"/>
		</sprite>
		<sprite origin="240,0" offset="16" opposite="true">
			<picture ref="{HEUER-0004-DAM-PICTURE-0002}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0004-DAM-STRUCTURE-0003}">
		&h0403;
		<size>4,1</size>
		<sprite origin="80,0" offset="40">
			<picture ref="{HEUER-0004-DAM-PICTURE-0002}"/>
		</sprite>
		<sprite origin="320,0" offset="16" opposite="true">
			<picture ref="{HEUER-0004-DAM-PICTURE-0002}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0004-DAM-STRUCTURE-0004}">
		&h0403;
		<size>4,1</size>
		<sprite origin="160,0" offset="40">
			<picture ref="{HEUER-0004-DAM-PICTURE-0002}"/>
		</sprite>
		<sprite origin="400,0" offset="16" opposite="true">
			<picture ref="{HEUER-0004-DAM-PICTURE-0002}"/>
		</sprite>
	</contribution>


<!-- Condominiums -->
	<contribution type="picture" id="{HEUER-0007-CONDO-PICTURE-0001}">
		<picture src="condominium.bmp">
		</picture>
	</contribution>	
	<contribution type="GenericStructure" id="{HEUER-0007-CONDO-STRUCTURE-0001}">
		&h0701;
		<pictures>
			<top    origin="0, 1" offset="40">
				<picture ref="{HEUER-0007-CONDO-PICTURE-0001}"/>
			</top>
			<middle origin="0,70" offset="24">
				<picture ref="{HEUER-0007-CONDO-PICTURE-0001}"/>
			</middle>
			<bottom origin="0,134" offset="24">
				<picture ref="{HEUER-0007-CONDO-PICTURE-0001}"/>
			</bottom>
		</pictures>
		<pictures>
			<top    origin="96, 1" offset="40">
				<picture ref="{HEUER-0007-CONDO-PICTURE-0001}"/>
			</top>
			<middle origin="96,70" offset="24">
				<picture ref="{HEUER-0007-CONDO-PICTURE-0001}"/>
			</middle>
			<bottom origin="96,134" offset="24">
				<picture ref="{HEUER-0007-CONDO-PICTURE-0001}"/>
			</bottom>
		</pictures>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0007-CONDO-STRUCTURE-0002}">
		&h0702;
		<pictures  opposite="true">
			<top    origin="272,12" offset="37">
				<picture ref="{HEUER-0007-CONDO-PICTURE-0001}"/>
			</top>
			<middle origin="272,86" offset="16">
				<picture ref="{HEUER-0007-CONDO-PICTURE-0001}"/>
			</middle>
			<bottom origin="272,150" offset="16">
				<picture ref="{HEUER-0007-CONDO-PICTURE-0001}"/>
			</bottom>
		</pictures>
		<pictures>
			<top    origin="192,12" offset="29">
				<picture ref="{HEUER-0007-CONDO-PICTURE-0001}"/>
			</top>
			<middle origin="192,78" offset="16">
				<picture ref="{HEUER-0007-CONDO-PICTURE-0001}"/>
			</middle>
			<bottom origin="192,142" offset="16">
				<picture ref="{HEUER-0007-CONDO-PICTURE-0001}"/>
			</bottom>
		</pictures>
	</contribution>


<!-- Thermal Power Plants -->
	<contribution type="picture" id="{HEUER-0008-PLANT-PICTURE-0001}">
		<picture src="powerplant.bmp">
		</picture>
	</contribution>	
	<contribution type="GenericStructure" id="{HEUER-0008-PLANT-STRUCTURE-0001}">
		&h0801;
		<sprite origin="0,0" offset="145">
			<picture ref="{HEUER-0008-PLANT-PICTURE-0001}"/>
		</sprite>
		<sprite origin="112,0" offset="121" opposite="true">
			<picture ref="{HEUER-0008-PLANT-PICTURE-0001}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0008-PLANT-STRUCTURE-0002}">
		&h0802;
		<sprite origin="224,0" offset="137">
			<picture ref="{HEUER-0008-PLANT-PICTURE-0001}"/>
		</sprite>
		<sprite origin="352,0" offset="121" opposite="true">
			<picture ref="{HEUER-0008-PLANT-PICTURE-0001}"/>
		</sprite>
	</contribution>


<!-- Bridge pier -->
	<contribution type="picture" id="{HEUER-0010-BRIDGEPIER-PICTURE-0001}">
		<picture src="bp.bmp">
		</picture>
	</contribution>
	<contribution type="picture" id="{HEUER-0010-BRIDGEPIER-PICTURE-0002}">
		<picture src="bp_sp.bmp">
			<override when="summer" src="bp_su.bmp" />
			<override when="autumn" src="bp_au.bmp" />
			<override when="winter" src="bp_wi.bmp" />
		</picture>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0010-BRIDGEPIER-STRUCTURE-0001}">
		&h1001;
		<design>normal</design>
		<pictures>
			<top    origin="0,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</top>
			<middle origin="32,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</middle>
			<bottom origin="0,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
			</bottom>
		</pictures>
		<pictures>
			<top    origin="96,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</top>
			<middle origin="128,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</middle>
			<bottom origin="96,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
			</bottom>
		</pictures>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0010-BRIDGEPIER-STRUCTURE-0002}">
		&h1001;
		<design>normal</design>
		<pictures>
			<top    origin="0,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</top>
			<middle origin="32,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</middle>
			<bottom origin="0,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
			</bottom>
		</pictures>
		<pictures>
			<top    origin="96,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</top>
			<middle origin="128,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</middle>
			<bottom origin="96,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
			</bottom>
		</pictures>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0010-BRIDGEPIER-STRUCTURE-0003}">
		&h1001;
		<design>water</design>
		<pictures>
			<top    origin="0,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</top>
			<middle origin="32,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</middle>
			<bottom origin="64,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</bottom>
		</pictures>
		<pictures>
			<top    origin="96,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</top>
			<middle origin="128,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</middle>
			<bottom origin="160,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</bottom>
		</pictures>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0010-BRIDGEPIER-STRUCTURE-0004}">
		&h1001;
		<design>water</design>
		<pictures>
			<top    origin="0,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</top>
			<middle origin="32,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</middle>
			<bottom origin="64,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</bottom>
		</pictures>
		<pictures>
			<top    origin="96,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</top>
			<middle origin="128,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</middle>
			<bottom origin="160,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</bottom>
		</pictures>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0010-BRIDGEPIER-STRUCTURE-0005}">
		&h1001;
		<design>grassland</design>
		<pictures>
			<top    origin="0,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</top>
			<middle origin="32,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</middle>
			<bottom origin="64,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
			</bottom>
		</pictures>
		<pictures>
			<top    origin="96,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</top>
			<middle origin="128,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</middle>
			<bottom origin="160,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
			</bottom>
		</pictures>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0010-BRIDGEPIER-STRUCTURE-0006}">
		&h1001;
		<design>grassland</design>
		<pictures>
			<top    origin="0,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</top>
			<middle origin="32,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</middle>
			<bottom origin="64,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
			</bottom>
		</pictures>
		<pictures>
			<top    origin="96,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</top>
			<middle origin="128,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</middle>
			<bottom origin="160,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
			</bottom>
		</pictures>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0010-BRIDGEPIER-STRUCTURE-0007}">
		&h1001;
		<design>mountain</design>
		<pictures>
			<top    origin="0,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</top>
			<middle origin="32,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</middle>
			<bottom origin="32,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
			</bottom>
		</pictures>
		<pictures>
			<top    origin="96,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</top>
			<middle origin="128,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</middle>
			<bottom origin="128,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
			</bottom>
		</pictures>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0010-BRIDGEPIER-STRUCTURE-0008}">
		&h1001;
		<design>mountain</design>
		<pictures>
			<top    origin="0,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</top>
			<middle origin="32,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</middle>
			<bottom origin="32,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
			</bottom>
		</pictures>
		<pictures>
			<top    origin="96,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</top>
			<middle origin="128,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</middle>
			<bottom origin="128,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
			</bottom>
		</pictures>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0010-BRIDGEPIER-STRUCTURE-0009}">
		&h1001;
		&h1003;
		<pictures>
			<top    origin="0,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</top>
			<middle origin="32,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</middle>
			<bottom origin="64,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</bottom>
		</pictures>
		<pictures>
			<top    origin="96,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</top>
			<middle origin="128,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</middle>
			<bottom origin="160,0" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</bottom>
		</pictures>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0010-BRIDGEPIER-STRUCTURE-0010}">
		&h1001;
		&h1003;
		<pictures>
			<top    origin="0,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</top>
			<middle origin="32,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</middle>
			<bottom origin="64,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</bottom>
		</pictures>
		<pictures>
			<top    origin="96,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</top>
			<middle origin="128,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</middle>
			<bottom origin="160,32" offset="16">
				<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
			</bottom>
		</pictures>
	</contribution>


	<contribution type="GenericStructure" id="{HEUER-0010-BRIDGEPIER-STRUCTURE-0011}">
		&h1002;
		<design>normal</design>
		<sprite origin="0,0" offset="16">
			<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
		</sprite>
		<sprite origin="96,0" offset="16" opposite="true">
			<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0010-BRIDGEPIER-STRUCTURE-0012}">
		&h1002;
		<design>normal</design>
		<sprite origin="0,32" offset="16">
			<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
		</sprite>
		<sprite origin="96,32" offset="16" opposite="true">
			<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0010-BRIDGEPIER-STRUCTURE-0013}">
		&h1002;
		<design>water</design>
		<sprite origin="64,0" offset="16">
			<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
		</sprite>
		<sprite origin="160,0" offset="16" opposite="true">
			<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0010-BRIDGEPIER-STRUCTURE-0014}">
		&h1002;
		<design>water</design>
		<sprite origin="64,32" offset="16">
			<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
		</sprite>
		<sprite origin="160,32" offset="16" opposite="true">
			<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0010-BRIDGEPIER-STRUCTURE-0015}">
		&h1002;
		<design>grassland</design>
		<sprite origin="64,0" offset="16">
			<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
		</sprite>
		<sprite origin="160,0" offset="16" opposite="true">
			<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0010-BRIDGEPIER-STRUCTURE-0016}">
		&h1002;
		<design>grassland</design>
		<sprite origin="64,32" offset="16">
			<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
		</sprite>
		<sprite origin="160,32" offset="16" opposite="true">
			<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0010-BRIDGEPIER-STRUCTURE-0017}">
		&h1002;
		<design>mountain</design>
		<sprite origin="32,0" offset="16">
			<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
		</sprite>
		<sprite origin="128,0" offset="16" opposite="true">
			<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0010-BRIDGEPIER-STRUCTURE-0018}">
		&h1002;
		<design>mountain</design>
		<sprite origin="32,32" offset="16">
			<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
		</sprite>
		<sprite origin="128,32" offset="16" opposite="true">
			<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0002}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0010-BRIDGEPIER-STRUCTURE-0019}">
		&h1002;
		&h1003;
		<sprite origin="64,0" offset="16">
			<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
		</sprite>
		<sprite origin="160,0" offset="16" opposite="true">
			<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0010-BRIDGEPIER-STRUCTURE-0020}">
		&h1002;
		&h1003;
		<sprite origin="64,32" offset="16">
			<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
		</sprite>
		<sprite origin="160,32" offset="16" opposite="true">
			<picture ref="{HEUER-0010-BRIDGEPIER-PICTURE-0001}"/>
		</sprite>
	</contribution>


<!-- Driving school -->
	<contribution type="picture" id="{HEUER-0011-DSCHOOL-PICTURE-0001}">
		<picture src="ds_corse.bmp">
			<override when="winter" src="ds_corse_w.bmp" />
		</picture>
	</contribution>
	<contribution type="picture" id="{HEUER-0011-DSCHOOL-PICTURE-0002}">
		<picture src="ds_school.bmp">
		</picture>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0011-DSCHOOL-STRUCTURE-0001}">
		&h1101;
		<sprite origin="0,0" offset="32">
			<picture ref="{HEUER-0011-DSCHOOL-PICTURE-0001}"/>
		</sprite>
		<sprite origin="176,0" offset="40" opposite="true">
			<picture ref="{HEUER-0011-DSCHOOL-PICTURE-0001}"/>
		</sprite>
		<sprite origin="352,0" offset="32">
			<picture ref="{HEUER-0011-DSCHOOL-PICTURE-0001}"/>
		</sprite>
		<sprite origin="528,0" offset="40" opposite="true">
			<picture ref="{HEUER-0011-DSCHOOL-PICTURE-0001}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0011-DSCHOOL-STRUCTURE-0002}">
		<size>1,6</size>
		&h1102;
		<sprite origin="0,0" offset="6">
			<picture ref="{HEUER-0011-DSCHOOL-PICTURE-0002}"/>
		</sprite>
		<sprite origin="112,0" offset="46" opposite="true">
			<picture ref="{HEUER-0011-DSCHOOL-PICTURE-0002}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0011-DSCHOOL-STRUCTURE-0003}">
		<size>1,5</size>
		&h1102;
		<sprite origin="224,0" offset="14">
			<picture ref="{HEUER-0011-DSCHOOL-PICTURE-0002}"/>
		</sprite>
		<sprite origin="320,0" offset="46" opposite="true">
			<picture ref="{HEUER-0011-DSCHOOL-PICTURE-0002}"/>
		</sprite>
	</contribution>

<!-- カントリーエレベーター -->
	<contribution type="picture" id="{HEUER-0012-CE-PICTURE-0001}">
		<picture src="ce.bmp">
		</picture>
	</contribution>
	<contribution type="GenericStructure" id="{HEUER-0012-CE-STRUCTURE-0001}">
		&h1201;
		<sprite origin="0,0" offset="51">
			<picture ref="{HEUER-0012-CE-PICTURE-0001}"/>
		</sprite>
		<sprite origin="96,0" offset="35" opposite="true">
			<picture ref="{HEUER-0012-CE-PICTURE-0001}"/>
		</sprite>
		<sprite origin="192,0" offset="51">
			<picture ref="{HEUER-0012-CE-PICTURE-0001}"/>
		</sprite>
		<sprite origin="288,0" offset="35" opposite="true">
			<picture ref="{HEUER-0012-CE-PICTURE-0001}"/>
		</sprite>
	</contribution>

</plug-in>