<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plug-in [
	<!ENTITY SapporpStation '
		<price>18000</price>
		<height>4</height>
		<operationCost>2400</operationCost>
		<population>
			<class name="freetrain.contributions.population.ShopperPopulation"/>
			<base>400</base>
		</population>
	'>	
	<!ENTITY SapporpJRTower '
		<price>20000</price>
		<height>13</height>
		<size>5,5</size>
		<operationCost>3800</operationCost>
		<population>
			<class name="freetrain.contributions.population.ShopperPopulation"/>
			<base>1000</base>
		</population>
		<population>
			<class name="freetrain.contributions.population.ResidentialPopulation"/>
			<base>15</base>
		</population>
	'>	
]>
<plug-in>
	<title>Sapporo Station</title>
	<author>C477</author>
	<homepage>http://www.rocket.ne.jp/~nao/</homepage>
		
	<contribution type="picture" id="{59FAA85F-6A5C-4503-C477-6340DC0F460B}">
		<picture src="station_sapporo01.bmp">
			<override when="night" src="station_sapporo01_n.bmp"/>
		</picture>
	</contribution>
	<contribution type="picture" id="{52F93831-B2ED-42CD-C477-476ADFFBB8EB}">
		<picture src="station_sapporo02.bmp">
			<override when="night" src="station_sapporo02_n.bmp"/>
		</picture>
	</contribution>


	<contribution type="station" id="{E82EF732-605C-4284-C477-0239AD9521D7}-a0">
		<group>Sapporo Station</group>
		&SapporpStation;
		<size>5,12</size>
		<sprite origin="  0,200" offset="96">
			<picture ref="{59FAA85F-6A5C-4503-C477-6340DC0F460B}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{E82EF732-605C-4284-C477-0239AD9521D7}-a1">
		<group>Sapporo Station</group>
		&SapporpStation;
		<size>12,5</size>
		<sprite origin="272,200" offset="152">
			<picture ref="{59FAA85F-6A5C-4503-C477-6340DC0F460B}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{E82EF732-605C-4284-C477-0239AD9521D7}-a2">
		<group>Sapporo Station</group>
		&SapporpStation;
		<size>5,12</size>
		<sprite origin="  0,  0" offset="96">
			<picture ref="{59FAA85F-6A5C-4503-C477-6340DC0F460B}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{E82EF732-605C-4284-C477-0239AD9521D7}-a3">
		<group>Sapporo Station</group>
		&SapporpStation;
		<size>12,5</size>
		<sprite origin="272,  0" offset="152">
			<picture ref="{59FAA85F-6A5C-4503-C477-6340DC0F460B}" />
		</sprite>
	</contribution>
	
	<contribution type="station" id="{99604146-2F69-437A-C477-96E5F6959A7B}-0">
		<group>Sapporo JR tower</group>
		&SapporpJRTower;
		<sprite origin="0,8" offset="240">
			<picture ref="{52F93831-B2ED-42CD-C477-476ADFFBB8EB}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{99604146-2F69-437A-C477-96E5F6959A7B}-1">
		<group>Sapporo JR tower</group>
		&SapporpJRTower;
		<sprite origin="160,8" offset="240">
			<picture ref="{52F93831-B2ED-42CD-C477-476ADFFBB8EB}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{99604146-2F69-437A-C477-96E5F6959A7B}-2">
		<group>Sapporo JR tower</group>
		&SapporpJRTower;
		<sprite origin="320,8" offset="240">
			<picture ref="{52F93831-B2ED-42CD-C477-476ADFFBB8EB}" />
		</sprite>
	</contribution>
	<contribution type="station" id="{99604146-2F69-437A-C477-96E5F6959A7B}-3">
		<group>Sapporo JR tower</group>
		&SapporpJRTower;
		<sprite origin="480,8" offset="240">
			<picture ref="{52F93831-B2ED-42CD-C477-476ADFFBB8EB}" />
		</sprite>
	</contribution>
</plug-in>
