<?xml version="1.0" encoding="UTF-8" ?>
<plug-in>
	<title>A-Train Style Diagram Settings</title>
	<!--!<title>「Ａ列車で行こう」式ダイヤグラム設定</title>-->
	<author>Kohsuke Kawaguchi</author>
	<!--!<author>川口耕介</author>-->
	<homepage>http://www.kohsuke.org/freetrain/</homepage>
	
	<contribution type="trainController" id="{94B1F62C-E9B0-4669-80E8-6C65D803DFE5}">
		<class name="freetrain.world.rail.tattc.TATTrainControllerPlugIn"
			codebase="bin/Debug/FreeTrain.TATTrainController.dll" />
	</contribution>
</plug-in>
